@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Pixelify+Sans:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Hind Siliguri;
}
body {
  background-color: #efefef;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}
.item-description {
  display: block; /* Permite que o bloco expanda conforme o conteúdo */
  max-height: none; /* Remova max-height para não restringir o tamanho */
  margin: 0; /* Remove margens extras */
}

/* Se você quiser definir um tamanho padrão */
.hover-content {
  padding: 10px; /* Adiciona um pouco de espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas para um visual mais agradável */
  transition: height 0.2s ease; /* Suaviza a transição */
}
